In [46]:
import pandas as pd

fish = pd.read_csv('https://github.com/ybifoundation/Dataset/raw/main/Fish.csv')

In [47]:
fish.head()

   Category Species  Weight   Height   Width  Length1  Length2  Length3
0         1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1         1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2         1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3         1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4         1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0

In [48]:
fish.info

<bound method DataFrame.info of      Category Species  Weight   Height   Width  Length1  Length2  Length3
0           1   Bream   242.0  11.5200  4.0200     23.2     25.4     30.0
1           1   Bream   290.0  12.4800  4.3056     24.0     26.3     31.2
2           1   Bream   340.0  12.3778  4.6961     23.9     26.5     31.1
3           1   Bream   363.0  12.7300  4.4555     26.3     29.0     33.5
4           1   Bream   430.0  12.4440  5.1340     26.5     29.0     34.0
..        ...     ...     ...      ...     ...      ...      ...      ...
154         6   Smelt    12.2   2.0904  1.3936     11.5     12.2     13.4
155         6   Smelt    13.4   2.4300  1.2690     11.7     12.4     13.5
156         6   Smelt    12.2   2.2770  1.2558     12.1     13.0     13.8
157         6   Smelt    19.7   2.8728  2.0672     13.2     14.3     15.2
158         6   Smelt    19.9   2.9322  1.8792     13.8     15.0     16.2

[159 rows x 8 columns]>

In [49]:
fish.describe()

,Category,Weight,Height,Width,Length1,Length2,Length3
count,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000,159.000000
mean,3.264151,398.326415,8.970994,4.417486,26.247170,28.415723,31.227044
std,1.704249,357.978317,4.286208,1.685804,9.996441,10.716328,11.610246
min,1.000000,0.000000,1.728400,1.047600,7.500000,8.400000,8.800000
25%,2.000000,120.000000,5.944800,3.385650,19.050000,21.000000,23.150000
50%,3.000000,273.000000,7.786000,4.248500,25.200000,27.300000,29.400000
75%,4.500000,650.000000,12.365900,5.584500,32.700000,35.500000,39.650000
max,7.000000,1650.000000,18.957000,8.142000,59.000000,63.400000,68.000000

In [50]:
fish.columns

Index(['Category', 'Species', 'Weight', 'Height', 'Width', 'Length1',
       'Length2', 'Length3'],
      dtype='object')

In [51]:
y = fish['Weight']
x = fish[['Height', 'Width', 'Length1',
       'Length2', 'Length3']]

In [52]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, train_size=0.7, random_state=2529)

In [53]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((111, 5), (48, 5), (111,), (48,))

In [54]:
from sklearn.linear_model import LinearRegression
model = LinearRegression()
model.fit(x_train,y_train)
pred = model.predict(x_test)

In [56]:
model.intercept_

-519.2833724383813

In [57]:
model.coef_

array([ 29.86430261,   2.25937742,  58.33792721,   8.53385903,
       -36.1520994 ])

In [58]:
y_pred = model.predict(x_test)

y_pred

array([ 485.76826299,  502.24720857,   94.72381964,  876.5711712 ,
        184.0789176 ,  219.30130488,  322.32532246,  376.22325991,
        372.35730485, -182.67537078, -160.60486837,  454.33586185,
        159.59755829,  843.48525226,  587.21680573,  299.53521445,
        597.72950823,  197.14605397,  639.89046741,   91.20067876,
        150.95424753, -103.08320574,  627.19712753,  795.69176861,
        814.68732975, -204.1496511 ,  329.98746856,  715.89288013,
        359.75634357,  792.3243925 ,  532.7036706 ,  552.00832342,
        433.48472727,  687.61750267, -204.76362537,  932.53668294,
        810.74234216,  -80.06217174,  284.36287887,  907.08036021,
        642.5828335 ,  959.33848223,  675.28792291,  718.86305458,
        623.89849226,  376.48346981,  530.83828119,  -86.2357066 ])

In [59]:
from sklearn.metrics import mean_absolute_error, r2_score

In [60]:
mean_absolute_error(y_test,y_pred)

103.02952922678561

In [61]:
r2_score(y_test,y_pred)

0.8349141424416875

In [68]:
import numpy  as np
input_data = np.array([[8.8768,4.4968,24.0,26.0,29.2]])

prediction = model.predict(input_data)
print('Berat Ikan Adalah :', prediction)

Berat Ikan Adalah : [322.32532246]

c:\Users\LENOVO\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [75]:
import pickle

filename = 'ikan.sav'
pickle.dump(model,open(filename,'wb'))